<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{{ site.title }}{% if page.title != 'index' %} / {{ page.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- <link rel="icon" type="image/png" href="/assets/img/favicon.png"> -->
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="16x16">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic">
    <link rel="stylesheet" href="/vendor/fontello/css/fontello.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/vendor/fontello/css/animation.css?rev={{ site.github.build_revision }}">
    <link rel="stylesheet" href="/assets/css/main.css?rev={{ site.github.build_revision }}">
    <!-- <link rel="stylesheet" href="/assets/css/projectbase.css?rev={{ site.github.build_revision }}"> -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23617994-1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23617994-1');

        // function resizeIframe(obj) {
        //     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        // }
    </script>

</head>
<body>

    <div class="container">

        <!-- <header><h1><a href="/">Can Li <i class="dot-head">.</i></a></h1></header> -->

        
        <div class="page-head" tabindex="-1">
            <div class="container-wide">
              <div class="page-head__inner">
                <a href="https://hku.hk"><img class="page-head__logo" src="/assets/img/hku-logo-canlab.png" alt="The University of Hong Kong", style="width: 350px;">
                </a>
          
                <div class="page-head__inner-right">

                    <!-- <div id="lab-title">
                        <img src="/assets/img/canlab-logo.svg" alt="HKU-CANLab" />
                    </div> -->

                  <div class="mn mn--hover">

          
                  </div>
                </div>
          
              </div>

            </div>
            
        </div>


        <div class="navigation">
            <ul>
                <li><a href="/"><i class="icon-home"></i><span>Home</span></a></li>
                <li><a href="/research.html"><i class="icon-wrench"></i><span>Research</span></a></li>
                <li><a href="/members.html"><i class="icon-people"></i><span>Members</span></a></li>
                 <li><a href="/publications.html"><i class="icon-books"></i><span>Publications</span></a></li>
                <li><a href="/news.html"><i class="icon-spin3"></i><span>News</span></a></li>
                <li><a href="/contact.html"><i class="icon-info-circled"></i><span>Contact</span></a></li>
                {% comment %} <li><a href="https://github.com/lican81"><i class="icon-github-circled"></i><span>github</span></a></li>
                <li><a href="https://www.linkedin.com/in/can-li-b8705125/"><i class="icon-linkedin-squared"></i><span>linkedin</span></a></li> {% endcomment %}
            </ul>
        </div>

        <div class="content">
            {{ content }}
        </div>

        <footer>
            <p><i class="icon-cc"></i>{{ site.time | date: '%Y' }}&nbsp;&nbsp;Can&nbsp;Li</p>
            <p>
                <a class="creative-commons" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                    <i class="icon-cc-by"></i>
                    <i class="icon-cc-nc"></i>
                    <i class="icon-cc-sa"></i>
                </a>
            </p>
        </footer>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    {% comment %} <script src="/vendor/autolinker/Autolinker.min.js?rev={{ site.github.build_revision }}"></script> {% endcomment %}
    <script src="/assets/js/main.js?rev={{ site.github.build_revision }}"></script>

</body>
</html>
